html{
	color: lightgrey;
	background-color: RGB(35, 35, 35);
	overflow: hidden;
	padding: 0;
	font-family: 'Open Sans';
}

body{
	width: 100vw;
	height: 100vh;
	overflow-x: auto;
	margin: 0;
	padding-top: 10vh;
}

.use_cases{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border: 1px solid lightgrey;
	width: 80%;
	height: 80%;
	margin: auto;
	overflow-x: auto;
} 

.use_cases > div{
	border: 1px solid lightgrey;
	margin: 20px;
	padding: 20px 50px;
	display: block;
	box-shadow: 10px 10px 49px -10px rgba(0,0,0,0.75);
	cursor: pointer;
}


.plots{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border: 1px solid lightgrey;
	width: 80%;
	height: 80%;
	margin: auto;
	overflow-x: auto;
} 

.plots > div:nth-child(1){
	border-bottom: 1px solid lightgrey;
	margin: 10px;
}

.plots > div:nth-child(2){

}

.plots > div:nth-child(2) img{
	width: 400px;
	height: auto;
	background: RGBA(255, 255, 255, 1);
	margin: 50px;
}

.plots > div:nth-child(2) img[hide]{
	display: none;
}