<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title>Accueil</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel='stylesheet' href='/static/index.css'>        
        <script src='/static/index.js'></script>
    </head>

    <body class='index'>
        <input type='text' oninput='search_use_case(this.value)' placeholder='Search'>
        <table class='use_cases'>
            <tr><th>Use case</th><th>Number of outliers</th><th>Delete</th><th>Show config</th></tr>
        	{% for use_case in use_cases %}
                <tr>
                    <td onclick='document.location="/use_case/{{use_case}}"'>{{use_case}}</td>
                    <td>{{metadata[use_case]['n_outliers']}}</td>
                    <td onclick='document.location="/delete/{{use_case}}"'>Delete</td>
                    <td onclick='show_config({{metadata[use_case] | tojson}})'>Config</td>
                </tr>
        	{% endfor %}
        </table>
        <div class='config'></div>
    </body>
</html>